

@import url(
    'https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;1,500&family=Oswald:wght@400;600&family=Rubik:wght@500&display=swap'
);


.dateViewer{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:5%;
    width: 50%;
    height: 70%;
}

.weather{
    display: block;
    font-family: 'Fira Sans', sans-serif;
    color:white;
    font-size:100%;
    text-align: center;
    align-items: center;
    border-color: yellow;
}

.dateDisplay{
    display: block;
    font-family: 'Rubik', sans-serif;
    text-align:center;
    color:white;
    font-size:calc(100%+2.5em);
    bottom: 0;
}

.weekDisplay{
    position: relative;
    display: block;
    font-family: 'Rubik', sans-serif;
    align-content: flex-start;
    text-align: center;
    margin-top:-10px;
    color: white;
    font-size:100%;
}

.timeDisplay{
    position: relative;
    top:30px;
    display: block;
    font-family: 'Rubik', sans-serif;
    align-content: flex-start;
    text-align: center;
    color: white;
    font-size:2em;
    word-spacing: 10px;
}



