
.calendar{
    position: relative;
    border-color: orange;
    border-style: solid;
    border-radius: 25px;
}

.changer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.arrow{
    background-size: 100% 100%;
    background-image: url("../../../../assets/arrow.png");
    width:30px;
    height: 30px;
    
}



