.months {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.months .header {
    text-transform: capitalize;
    font-size: 60px;
    padding-bottom: 30px;
}

.months .days {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 90%;
    padding: 0.75em 0;
}

.months .days .day-name {
    width: 60px;
    height: 25px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}

.months .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.months .prev {
    transform: rotate(180deg);
}

.months .body .cell {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.months .body .day {
    align-self: center;
    font-size: 38px;
    font-weight: 300;
    height: 40px;
}

.months .body .selected {
    border-radius: 50px;
    border: 4px solid #ff7c00;
    padding: 6px;
}

.months .body .disabled {
    color: rgb(65, 65, 65);
    pointer-events: none;
  }
.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.col {
    min-width: 100px;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col-center {
    justify-content: center;
    text-align: center;
}
.col-center div {
    width: 500px;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}