


.appFrame{
    position: absolute;
    top:0px;
    left:0px;
    min-width: 100%;
    min-height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(197, 197, 197) 20%, rgba(74,71,71,1) 100%);
}